<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Panel heading</div>

    <!-- Table -->
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Best Score A</th>
            <th>Best Score B</th>
        </tr>
        <tr>
            <td>Blah</td>
            <td>Blahname</td>
            <td>10000</td>
            <td>1233</td>
        </tr>
        <tr>
            <td>Blah2</td>
            <td>Blahname2</td>
            <td>50000</td>
            <td>19999</td>
        </tr>
    </table>
</div>