<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">User Scores</div>

    <!-- Table -->
    <table class="table">
        <tr>
            <th><a href="" ng-click="scores.order('name')">Name</a></th>
            <th><a href="" ng-click="scores.order('username')">Username</a></th>
            <th><a href="" ng-click="scores.order('bestscoreA')">Best Score A</a></th>
            <th><a href="" ng-click="scores.order('bestscoreB')">Best Score B</a></th>
        </tr>
        <tr ng-repeat="user in scores.users | orderBy: scores.predicate : scores.reverse">
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.bestscoreA}}</td>
            <td>{{user.bestscoreB}}</td>
        </tr>
    </table>
</div>