body {
    background-color: #FF7373;
}

main {
    min-height: 800px;
    overflow: hidden;
}

.navbar {
    border-radius: 0;
    background-color: steelblue;
    border-color: steelblue;
}

.navbar-inverse .navbar-brand {
    margin-top: -2px;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-text, .navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav > li > a:hover {
    color: lightcyan;
}

.game-container {
    width: 80%;
    margin: 10px auto;
}

.game-space {
    position: relative;
    height: 500px;
    background-color: lightcyan;
    box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
    overflow: auto;
    margin-top: 10px;
}

.box {
    position: relative;
    width: 10%;
    height: 50px;
    border: 1px solid dodgerblue;
    box-shadow: 0px 2px 33px 6px rgba(240,158,87,1);
}

.overlay {
    position: absolute;
    font-size: 20px;
}

.btns {
    text-align: center;
}

.play-btn {
    height: 70px;
    width: 220px;
    margin-top: 20px;
    font-size: 20px;
}

.stats {
    background-color: lightcyan;
    font-size: 12px;
    font-weight: bold;
    overflow: auto;
    margin-top: 5px;
}

.stat {
    float: left;
    padding: 5px;
    width: 23%;
}

/* Animations
================ */

.spinner {
    animation: spin 1s infinite;
    -moz-animation: spin 1s infinite;
    -webkit-animation: spin 1s infinite;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@-moz-keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@-webkit-keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.box.ng-hide-remove {
    animation: zoomIn 0.3s both ease;
    -moz-animation: zoomIn 0.3s both ease;
    -webkit-animation: zoomIn 0.3s both ease;
}

.box.ng-hide-add {
    animation: fadeOut 0.1s both ease;
    -moz-animation: fadeOut 0.1s both ease;
    -webkit-animation: fadeOut 0.1s both ease;
}

.change.ng-enter {
    animation: slideInUp 0.8s both ease;
    -moz-animation: slideInUp 0.8s both ease;
    -webkit-animation: slideInUp 0.8s both ease;
}