<div class="text-container">
    <h1>Test your reaction!</h1>

    <p ng-transclude></p>

    <div id="stats">
        <div class="stat">Reaction Time: {{game.reactionTime}}</div>
        <div class="stat">Total Time: {{game.totalTime}}</div>
        <div class="stat">Count: {{game.count}}</div>
        <div class="stat">Best Score: {{game.bestScore}}</div>
    </div>
</div>

<div id="game-container">
    <div id="overlay" ng-show="game.gameOver">Your Final Score: {{game.finalScore}}</div>
    <div id="box" ng-hide="game.hidden" ng-click="game.boxClick()"></div>
</div>

<div class="btns">
    <button class="btn btn-danger btn-lg play-btn" ng-click="game.makeBox()">Play</button>
    <br/><br/>
    <button class="btn btn-default" ng-click="game.reset()">Reset</button>
</div>